/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


.custom-swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px; /* Space between the card and pagination dots */
}

.swiper-pagination-bullet {
  background-color: #B6B6B6; /* Change this to your preferred color */
  opacity: 1; /* Optional: make the pagination dots fully visible */
  width: 16px; /* Increase the width of the dot */
  height: 16px; /* Increase the height of the dot */
  border-radius: 50%; /* Ensure the shape stays circular */
}

.swiper-pagination-bullet-active {
  background-color: #FF9921; /* Active dot color */
  font-size:  "90px";
}

html,
body {
  background-color: "#FFF8F1";
}